<!DOCTYPE html>
<html>

<head>
  <title>Products - Globomantics</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="/css/style-home.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/images/G.png" />
</head>

<body>
  <div id="wrapper">

    <%- include('./partials/header'); %>

    <section class="sec_include">
      <h1 style="text-align: center; padding-top: 5rem;" class="adj_text">Products List</h1>
      <div class="container">
        <div class="row">
          <ul class="nav filter-tab">
            <li onclick="filterTab(this, 'all')" class="active-tab-element">All</li>
            <% categories?.map((category)=>{%>
              <li onclick="filterTab(this, '<%=category%>')"><%=category.toUpperCase()%></li>
            <% }) %>
          </ul>
          <% products?.map((product)=>{%>
          <div data-category="<%= product.category %>" style="margin-top: 2rem;" class="col-xs-12 col-sm-4 col-md-4 adj_text">


            <img src="<%=product.thumbnail%>" style="max-height: 11em;" alt="<%=product.title%>" />
            <h3><%=product.title%></h3>
            <p><%=product.description.slice(0,40)%>...</p>
            
            <div class="read-more-btn-custom">
              <a href="/products/<%=product._id%>" class="btn-oval">Learn More</a>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </section>

    <%- include('./partials/footer'); %>
    <%- include('./partials/signup'); %>
    <%- include('./partials/signin'); %>

  </div>
  <!---------- End of Wrapper ----------->



  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    jQuery(document).ready(function () {

      // alert("wow");
      //  jQuery("header").addClass("fixed");
      jQuery("#hamburger").click(function () {
        //alert("The paragraph was clicked.");
        jQuery("header").toggleClass("fixed");
      });

    });
    
    function filterTab(el, category){
      document.getElementsByClassName('active-tab-element')[0].className=''
      el.className+='active-tab-element'

      let elements = document.querySelectorAll('[data-category]')

      elements.forEach(el => {
        if(el.attributes[0].value !== category && category !== 'all'){
          el.style.display = 'none'
        }else{
          el.style.display = 'block'
        }
      })
    }
  </script>

</body>

</html>