<!DOCTYPE html>
<html>

<head>
  <title><%=product?.title%> - Globomantics</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="/css/style-home.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/images/G.png" />
</head>

<body>
  <div id="wrapper">

    <%- include('./partials/header'); %>

    <section class="sec_include">
      <div class="container">


        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-12 adj_text">
            <h3>
              <%=product?.title%>
            </h3>
            <img src="<%=product?.thumbnail%>" height="400px" alt="<%=product?.title%>" />
            <p>
              <%=product?.description%>
            </p>
            <p><strong>There's </strong>
              <%=product?.stock%> pieces into our stock.
            </p>
            <p><strong>Price <span style="text-decoration-line: line-through;">
                  <%=product?.price%>$</span></strong>
               <span><%=product?.price - (product?.price / product?.discountPercentage).toFixed(0)%>$ with discount
                <%=product?.discountPercentage%>%</span>
            </p>
          </div>

        </div>
      </div>

      <h1 style="text-align: center; padding-top: 5rem;" class="adj_text">Similar Products</h1>
      <div class="container">
        
        <div class="row">
          <% similarProducts?.map((product, index)=>{%>
          <div style="margin-top: 2rem;" class="col-xs-12 col-sm-4 col-md-6 adj_text">


            <img src="<%=product.thumbnail%>" style="max-height: 21em;" alt="<%=product.title%>" />
            <h3><%=product.title%></h3>
            <p><%=product.description.slice(0,40)%>...</p>
            
            <div class="read-more-btn-custom">
              <a href="/products/<%=product._id%>" class="btn-oval">Learn More</a>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </section>

    <%- include('./partials/footer'); %>
    <%- include('./partials/signup'); %>
    <%- include('./partials/signin'); %>

  </div>
  <!---------- End of Wrapper ----------->



  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    jQuery(document).ready(function () {

      // alert("wow");
      //  jQuery("header").addClass("fixed");
      jQuery("#hamburger").click(function () {
        //alert("The paragraph was clicked.");
        jQuery("header").toggleClass("fixed");
      });


    });

  </script>

</body>

</html>